.slider-con {
  height: 100vh;
  width: 100%;
  background-color: #dfa3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.slider {
  width: 400px;
  aspect-ratio: 4/5;
  display: flex;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}
.image,
.image-ani {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image {
  position: relative;
  z-index: 0;
}
.image-ani {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 9;
  width: 100%;
}
.no-image {
  display: none;
}
.left-arrow {
  background-image: url(/images/angle-left-solid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 8px;
  border-radius: 20px 7px 7px 20px;
  box-shadow: -2px 2px 5px #00000022;
}
.right-arrow {
  background-image: url(/images/angle-right-solid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 8px;
  border-radius: 7px 20px 20px 7px;
  box-shadow: 2px 2px 5px #00000022;
}
.left-arrow,
.right-arrow {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #d0bfd592;
  cursor: pointer;
  transition: 0.5s all;
}
.left-arrow:hover,
.right-arrow:hover {
  background-color: #c3b0c892;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #00000022;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #00000022;
}
.control {
  width: 12px;
  height: 12px;
  background-color: #00000022;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #00000022;
  transition: 0.5s all;
}
.active {
  background-color: #000000;
  border-color: #000000;
}
.next-leave-ani {
  animation: nextLeave 0.3s ease-out forwards;
}
@keyframes nextLeave {
  100% {
    scale: 0.5;
    translate: -70px 80px;
    opacity: 0;
  }
}
.next-enter-ani {
  display: block;
  animation: nextEnter 0.5s ease-out forwards;
  z-index: 9;
}
@keyframes nextEnter {
  0% {
    translate: 100% 0;
    scale: 0.7;
    opacity: 0.4;
  }
  100% {
    scale: 1;
    translate: 0 0;
    opacity: 1;
  }
}
.prev-leave-ani {
  display: block;
  animation: prevLeave 0.3s ease-out forwards;
}
@keyframes prevLeave {
  100% {
    scale: 0.5;
    translate: 70px 80px;
    opacity: 0;
  }
}
.prev-enter-ani {
  display: block;
  animation: prevEnter 0.5s ease-out forwards;
}
@keyframes prevEnter {
  0% {
    translate: -100% 0;
    scale: 0.7;
    opacity: 0.4;
  }
  100% {
    scale: 1;
    translate: 0 0;
    opacity: 1;
  }
}
